; Engine configuration file.
config_version=5

[application]
config/name="{{ProjectName}}"
run/main_scene="res://Main.tscn"
config/features=PackedStringArray("4.6", "C#")

[dotnet]
project/assembly_name="Client"
